<app-frame-nav class="overflow-hidden">
      <div class="flex sm:w-72 w-12 select-none flex-col justify-between border-e bg-slate-100 animate-in slide-in-from-left-96">
        <div class="px-1 sm:px-4 py-4">
            <ul class="">
                <h1 class="mb-2 border-b text-2xl font-bold text-gray-800 invisible sm:visible">Seus Chamados</h1>
                <li>
                    <a (click)="setRoute('adicionar')" class="  mb-2 flex cursor-pointer items-center rounded-lg bg-gray-200 px-2 py-2 text-sm font-bold text-gray-700 hover:bg-gray-300 transition-all">
                        <span class="material-symbols-outlined mr-2">
                          add
                        </span>
                        <div class="invisible sm:visible">Adicionar</div>
                    </a>
                </li>
                <li>
                    <a (click)="setRoute('aberto')" class="mb-2 flex cursor-pointer items-center rounded-lg bg-gray-200 px-2 sm:py-2 text-sm font-bold text-gray-700 hover:bg-gray-300 transition-all">
                        <span class="material-symbols-outlined mr-2">
                            arrow_outward
                        </span>
                        <div class="invisible sm:visible">Em Espera</div>
                    </a>
                </li>
                <li>
                    <a (click)="setRoute('aguardando')" class="mb-2 flex cursor-pointer items-center rounded-lg bg-gray-200 px-2 sm:py-2 text-sm font-bold text-gray-700 hover:bg-gray-300 transition-all">
                        <span class="material-symbols-outlined mr-2">
                            hourglass_top
                        </span>
                        <div class="invisible sm:visible">Aguardando Inicio</div>
                    </a>
                </li>
                <li>
                    <a (click)="setRoute('andamento')" class="flex cursor-pointer items-center rounded-lg bg-gray-200 px-2 sm:py-2 text-sm font-bold text-gray-700 hover:bg-gray-300 transition-all">
                        <span class="material-symbols-outlined mr-2">
                            chronic
                        </span>
                        <div class="invisible sm:visible">Em Andamento</div>
                    </a>
                </li>
            </ul>
        </div>
      </div>

    <div class="overflow-auto w-[calc(100%)] h-[calc(100vh-3rem)]">
	    @if (id == "adicionar"){
	    	<app-adicionar></app-adicionar>
	    }
	    @if (id == "aberto"){
			<app-aberto></app-aberto>    
	    }
        @if (id == "aguardando"){
            <app-aguardando></app-aguardando>   
        }
	    @if (id == "andamento"){
			<app-andamento></app-andamento>
		}
    </div>

</app-frame-nav>