<div class="flex w-[600px] flex-col rounded-md bg-slate-800 p-4">
  <h1 class="text-center text-2xl font-bold text-white">
    Deseja finalizar o chamado?
  </h1>
  <h1 class="text-md px-2 text-center text-gray-200">
    Um chamado finalizado não podera ser alterado
  </h1>

  <h1 class="text-md mt-4 px-2 text-center font-bold text-white">
    Horas trabalhadas com base nos seus relatórios
  </h1>

  <div class="e mt-4 flex w-full flex-col items-center gap-2">
    @for (relatorio of relatorios; track relatorio) {
      @if (!relatorio.hide) {
        <div class="flex justify-start p-2">
          <div class="flex flex-col">
            <label for="start-time" class="text-sm font-bold text-white"
              >Hora de ínicio:</label
            >
            <input
              class="h-8"
              id="start-time"
              [(ngModel)]="relatorio.hora_start"
              type="time"
              name="start-time"
            />
          </div>
          <div class="ml-2 flex flex-col">
            <label for="end-time" class="text-sm font-bold text-white"
              >Hora de fim:</label
            >
            <input
              class="h-8"
              id="end-time"
              [(ngModel)]="relatorio.hora_end"
              type="time"
              name="end-time"
            />
          </div>

          <button
            type="submit"
            class="text-md bg-remove-600 ml-2 mt-4 flex items-center justify-center rounded-lg bg-red-500 px-1 py-1 font-bold text-white hover:bg-red-600"
            (click)="removeRelatorioHours(relatorio)"
          >
            <span class="material-symbols-outlined"> delete_forever </span>
          </button>
        </div>
      }
    }

    <button
      type="submit"
      class="text-md mt-4 w-32 rounded-lg bg-green-600 px-3 py-1 font-bold text-white hover:bg-red-500"
      (click)="addHoras()"
    >
      Add hora
    </button>

    <div class="mt-2 flex w-full gap-2">
      <button
        type="submit"
        class="text-md mt-4 w-full rounded-lg bg-red-600 px-3 py-1 font-bold text-white hover:bg-red-500"
        (click)="finalizarChamado()"
        [mat-dialog-close]="true"
      >
        Finalizar
      </button>

      <button
        type="submit"
        class="text-md mt-4 w-full rounded-lg bg-blue-700 px-3 py-1 font-bold text-white hover:bg-blue-600"
        [mat-dialog-close]="false"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
