<div class="flex h-full w-full flex-col overflow-auto justify-start rounded-md px-6 appear">
  <div
    class="max-w-screen-xl px-4 py-8  text-black sm:px-6 sm:py-12 lg:px-8 lg:py-16"
  >
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold sm:text-4xl">Seus chamados em andamento</h2>

      <p class="mt-4 text-gray-900">
        Segue a lista de seus chamados em andamento que você está participando
      </p>
    </div>

    @for (item of chamados ; track item.id) {
      <div
        class="mt-8 flow-root w-[600px] cursor-pointer rounded-md border-2 border-transparent bg-green-100 px-4 py-3 hover:border-2 hover:border-blue-500"
        (click)="openService(item)"
      >
        <dl class="-my-3 text-sm">
          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">Cliente</dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{item.cliente}}
            </dd>
          </div>

          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">Descrição</dt>
            <dd class="text-red-700 sm:col-span-2">{{item.title}}</dd>
          </div>

          <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
            <dt class="font-medium text-gray-900">Técnico</dt>
            @for (user of item.expand.users ; track user) {
              <dd class="text-gray-700 sm:col-span-2">{{item.expand.created_by.username}}</dd>
            }
          </div>
        </dl>
      </div>
    }
  </div>
</div>
