<div class="flex h-screen w-screen flex-col items-center bg-transparent p-8">
  <div class="z-10 flex w-[400px] rounded-lg bg-gray-900 p-4 sm:w-[800px]">
    <div class="w-full">
      <div class="flex h-8 w-full items-center text-white">
        <span class="material-symbols-outlined mr-2 text-3xl">
          home_repair_service
        </span>

        @if ((isAdmin || participando) && !finalizado) {
          <input
            (change)="changeTitle($event)"
            spellcheck="false"
            class="w-128 bg-transparent text-xl outline-none"
            [value]="data.title"
            [disabled]="userFinalized"
          />
        } @else {
          <h1 class="w-128 text-xl">{{ data.title }}</h1>
        }
      </div>
      @if ((userFinalized || finalizado) && !faturado && !cancelado) {
        <span
          class="me-2 ml-8 select-none rounded bg-purple-900 px-2.5 py-0.5 text-xs font-medium text-purple-300"
          matTooltip="Você finalizou esse chamado"
          >Finalizado</span
        >
      }
      @if (faturado && !cancelado) {
        <span
          class="me-2 ml-8 select-none rounded bg-yellow-100 px-2.5 py-0.5 text-xs font-medium text-yellow-400"
          matTooltip="Você finalizou esse chamado"
          >Registrado</span
        >
      }

      <!-- 			@if (end_at != ''){
				<h1 class="ml-8 text-white font-bold" matTooltip="Duração do chamado da criação até a finalização">{{getTotalTime()}}</h1>
			}
		-->
      <div class="mt-8 flex text-white">
        <div class="flex w-full">
          <div class="flex w-full">
            <div class="ml-8 flex flex-col">
              <div class="flex items-center">
                <h1 class="mb-1 text-sm font-bold">Técnicos</h1>
              </div>

              @for (tecnico of data.expand.users; track tecnico) {
                <div class="flex h-6 cursor-default items-center">
                  <span class="material-symbols-outlined mr-2 text-xl">
                    account_circle
                  </span>

                  @if (getIsFinalized(tecnico.id)) {
                    <h1
                      class="line-through"
                      matTooltip="Usuário finalizou o chamado"
                    >
                      {{ tecnico.username }}
                    </h1>
                  } @else {
                    <h1 class="">{{ tecnico.username }}</h1>
                  }
                </div>
              }

              @if (!criadorParticipa) {
                <div class="flex h-6 cursor-default items-center">
                  <span
                    class="material-symbols-outlined mr-2 text-xl"
                    matTooltip="Quem criou pode visualizar"
                  >
                    visibility
                  </span>

                  <h1 class="">
                    {{ data.expand.created_by.username }}
                  </h1>
                </div>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="ml-8 mt-4 flex flex-col text-white">
        <h1 class="text-sm font-bold">Empresa</h1>
        <div class="flex h-8 items-center">
          <span class="material-symbols-outlined mr-2 text-xl">
            corporate_fare
          </span>

          <h1 class="">{{ data.cliente_data.nome }}</h1>
        </div>
        <div class="text-sm">
          @if (data.cliente_data?.celular) {
            <div class="flex items-center">
              <span class="material-symbols-outlined mr-1 text-xl">
                phone_iphone
              </span>
              {{ data.cliente_data.celular }}
            </div>
          }
          @if (data.cliente_data?.telefone) {
            <div class="flex items-center">
              <span class="material-symbols-outlined mr-1 text-xl"> call </span>
              {{ data.cliente_data.telefone }}
            </div>
          }
          @if (data.cliente_data?.email) {
            <div class="flex items-center">
              <span class="material-symbols-outlined mr-1 text-xl">
                email
              </span>
              {{ data.cliente_data.email }}
            </div>
          }
        </div>
      </div>

      <!-- Descrição Title -->
      <div class="mt-6 flex h-8 items-center text-white">
        <span class="material-symbols-outlined mr-2 text-3xl"> subject </span>

        @if (!mostrarEditorDescricao) {
          <div class="flex items-center">
            <h1 class="text-xl">Descrição</h1>
            @if (!userFinalized) {
              <div
                (click)="showEditorDescricao()"
                type="button"
                class="me-2 ml-4 flex items-center rounded-lg bg-indigo-700 px-2 py-1 text-center text-sm font-medium text-white hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-indigo-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
                matTooltip="Salva um rascunho do relátorio"
              >
                <span class="material-symbols-outlined mr-1"> edit_note </span>
                Editar
              </div>
            }
          </div>
        } @else {
          <div class="flex items-center">
            <h1 class="text-xl">Descrição</h1>
            <button
              (click)="salvarDescricao()"
              type="button"
              class="me-2 ml-4 inline-flex items-center rounded-lg bg-indigo-700 px-2 py-1 text-center text-sm font-medium text-white hover:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-indigo-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
              matTooltip="Salva um rascunho do relátorio"
            >
              <span class="material-symbols-outlined"> save </span>
              Salvar
            </button>
          </div>
        }
      </div>

      <!-- Descrição content & editor -->
      <div class="flex text-white">
        <div class="ml-8 w-full text-gray-100">
          <!-- @if (data.description != "") { -->

          @if (!mostrarEditorDescricao) {
            <div class="flex w-full text-white">
              @if (data.description != "") {
                <article
                  class="prose prose-invert mt-2 w-full min-w-full rounded-lg bg-slate-800 px-2 py-2"
                >
                  <div
                    class="w-full"
                    [innerHTML]="data.description | sanitizeHtml"
                  ></div>
                </article>
              }
            </div>
          } @else {
            <editor
              class="mt-4"
              id="editorDescricao"
              #editorDescricao
              (onInit)="editorCarregadoDescricao()"
              [init]="{
                plugins:
                  '  autolink wordcount lists link image searchreplace fullscreen media table code  directionality codesample',
                base_url: '/tinymce',
                suffix: '.min',
                selector: 'textarea',

                codesample_languages: [
                  { text: 'HTML/XML', value: 'markup' },
                  { text: 'CSS', value: 'css' },
                  { text: 'SQL', value: 'sql' },
                  { text: 'Bash', value: 'sh' },
                  { text: 'JavaScript', value: 'javascript' },
                  { text: 'Go', value: 'go' },
                  { text: 'Dart', value: 'dart' },
                  { text: 'Zig', value: 'zig' },
                  { text: 'Rust', value: 'rust' },
                  { text: 'Lua', value: 'lua' },
                  { text: 'PHP', value: 'php' },
                  { text: 'Ruby', value: 'ruby' },
                  { text: 'Python', value: 'python' },
                  { text: 'Java', value: 'java' },
                  { text: 'C', value: 'c' },
                  { text: 'C#', value: 'csharp' },
                  { text: 'C++', value: 'cpp' },
                  { text: 'Markdown', value: 'markdown' },
                  { text: 'Swift', value: 'swift' },
                  { text: 'Kotlin', value: 'kotlin' },
                  { text: 'Elixir', value: 'elixir' },
                  { text: 'Scala', value: 'scala' },
                  { text: 'Julia', value: 'julia' },
                  { text: 'Haskell', value: 'haskell' }
                ],
                toolbar:
                  'styles | alignleft aligncenter alignright | image | bold italic forecolor backcolor | bullist numlist | link table codesample direction | code fullscreen'
              }"
            ></editor>
          }
        </div>
      </div>

      @if (!((userFinalized || finalizado) && data.midias.length == 0)) {
        <div class="mb-6 mt-6 flex h-8 items-center text-white">
          <span class="material-symbols-outlined mr-2 text-3xl"> image </span>

          <div class="flex items-center">
            <h1 class="text-xl">Mídias</h1>
          </div>
        </div>
        <div class="ml-8 flex w-full justify-start">
          <app-media
            [midias]="data.midias"
            collection="chamados"
            [objectID]="data.id"
            [showAddBtn]="!userFinalized"
          ></app-media>
        </div>
      }

      @if (!em_espera) {
        <div class="mt-6 flex h-8 items-center text-white">
          <span class="material-symbols-outlined mr-2 text-3xl"> wysiwyg </span>

          <h1 class="text-xl">Relátorios</h1>
        </div>

        <div class="flex-col p-0">
          @if (mostrarEditor && !finalizado) {
            <editor
              class="ml-8 mt-4"
              id="editor"
              #editor
              (onInit)="editorCarregado()"
              [init]="{
                plugins:
                  '  autolink wordcount lists link image searchreplace fullscreen media table code  directionality codesample',
                base_url: '/tinymce',
                suffix: '.min',
                selector: 'textarea',

                codesample_languages: [
                  { text: 'HTML/XML', value: 'markup' },
                  { text: 'CSS', value: 'css' },
                  { text: 'SQL', value: 'sql' },
                  { text: 'Bash', value: 'sh' },
                  { text: 'JavaScript', value: 'javascript' },
                  { text: 'Go', value: 'go' },
                  { text: 'Dart', value: 'dart' },
                  { text: 'Zig', value: 'zig' },
                  { text: 'Rust', value: 'rust' },
                  { text: 'Lua', value: 'lua' },
                  { text: 'PHP', value: 'php' },
                  { text: 'Ruby', value: 'ruby' },
                  { text: 'Python', value: 'python' },
                  { text: 'Java', value: 'java' },
                  { text: 'C', value: 'c' },
                  { text: 'C#', value: 'csharp' },
                  { text: 'C++', value: 'cpp' },
                  { text: 'Markdown', value: 'markdown' },
                  { text: 'Swift', value: 'swift' },
                  { text: 'Kotlin', value: 'kotlin' },
                  { text: 'Elixir', value: 'elixir' },
                  { text: 'Scala', value: 'scala' },
                  { text: 'Julia', value: 'julia' },
                  { text: 'Haskell', value: 'haskell' }
                ],
                toolbar:
                  'styles | alignleft aligncenter alignright | image | bold italic forecolor backcolor | bullist numlist | link table codesample direction | code fullscreen'
              }"
            ></editor>

            <div class="ml-8 flex w-full items-center justify-start pt-2">
              <div class="flex flex-col">
                <label for="start-time" class="text-sm font-bold text-white"
                  >Hora de ínicio:</label
                >
                <input
                  class="h-8"
                  id="start-time"
                  type="time"
                  name="start-time"
                />
              </div>
              <div class="ml-2 flex flex-col">
                <label for="end-time" class="text-sm font-bold text-white"
                  >Hora de fim:</label
                >
                <input class="h-8" id="end-time" type="time" name="end-time" />
              </div>

              <button
                (click)="sendRelatorio()"
                type="button"
                class="me-2 ml-2 mt-4 inline-flex items-center rounded-lg bg-blue-700 px-4 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                <span class="material-symbols-outlined"> send </span>
                Enviar relatório
              </button>

              <button
                (click)="saveEditor()"
                type="button"
                class="me-2 mt-4 inline-flex items-center rounded-lg bg-indigo-700 px-4 py-2 text-center text-sm font-medium text-white hover:bg-indigo-800 focus:outline-none focus:ring-4 focus:ring-indigo-300 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-800"
                matTooltip="Salva um rascunho do relátorio"
              >
                <span class="material-symbols-outlined"> save </span>
                Salvar
              </button>
            </div>

            <!-- <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700"> -->
          } @else {
            @if (!finalizado && !userFinalized) {
              <div class="flex w-full">
                <button
                  (click)="setEditor(true)"
                  type="button"
                  class="me-2 ml-8 mt-2 inline-flex items-center rounded-lg bg-slate-700 px-4 py-2 text-center text-sm text-gray-300 hover:bg-slate-800"
                >
                  Escrever um relatório...
                </button>
              </div>
            }
          }

          <div class="flex w-full flex-col pl-8">
            @for (item of relatorios; track item) {
              <app-service-relatorio
                [finalized]="userFinalized"
                [user]="item.expand.user"
                [date]="item.created"
                [html]="item.relatorio"
                [relatorio_data]="item"
              />
              <!-- <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700"> -->
            }
          </div>
        </div>
      }

      <div class="mt-4 flex items-center text-sm text-white">
        <h1 matTooltip="Chamado criado em">{{ created_at }}</h1>
        @if (end_at != "") {
          <h1 matTooltip="Chamado terminado em">&nbsp; - {{ end_at }}</h1>
          <!-- <h1 matTooltip="Duração do chamado">&nbsp; - {{getTotalTime()}}</h1> -->
          <h1 class="font-bold text-yellow-300" matTooltip="Horas trabalhadas">
            &nbsp; - {{ getTotalWorkedTime() }}
          </h1>
        }
      </div>
    </div>
    <div class="z-10 flex w-1/4 flex-col pl-2">
      <div
        mat-dialog-close
        (click)="onFecharChamado()"
        class="flex w-full justify-end text-white"
      >
        <div
          class="flex h-8 w-8 items-center justify-center rounded-full transition-all hover:cursor-pointer hover:bg-slate-600"
        >
          <span class="material-symbols-outlined p-1 text-2xl"> close </span>
        </div>
      </div>

      <div class="mt-8 flex w-full flex-col gap-2">
        <h1 class="text-xs text-gray-400">Ações do chamado</h1>
        @if (isAdmin || participando) {
          @if (finalizado || userFinalized) {
            <button
              (click)="reabrirChamado()"
              type="button"
              class="inline-flex h-8 w-full items-center rounded-lg border border-purple-700 px-1 text-center text-sm font-medium text-purple-700 outline-none hover:bg-purple-800 hover:text-white"
            >
              <span class="material-symbols-outlined"> undo </span>
              <h1 class="ml-1">Reabrir</h1>
            </button>
          }
          @if (!userFinalized && !finalizado) {
            <button
              (click)="finalizarChamado()"
              type="button"
              class="inline-flex h-8 w-full items-center rounded-lg border border-purple-700 px-1 text-center text-sm font-medium text-purple-700 outline-none hover:bg-purple-800 hover:text-white"
            >
              <span class="material-symbols-outlined"> save </span>
              <h1 class="ml-1">Finalizar</h1>
            </button>
          }

          @if (!finalizado) {
            <button
              (click)="cancelarChamado()"
              type="button"
              class="inline-flex h-8 w-full items-center rounded-lg border border-red-700 px-1 text-center text-sm font-medium text-red-700 outline-none hover:bg-red-800 hover:text-white"
            >
              <span class="material-symbols-outlined"> remove </span>
              <h1 class="ml-1">Cancelar</h1>
            </button>
          }
        }

        @if (isAdmin && finalizado && !faturado && !cancelado) {
          <button
            (click)="marcarFaturado()"
            type="button"
            class="inline-flex h-8 items-center rounded-lg border border-amber-400 px-1 text-center text-sm font-medium text-amber-400 hover:bg-amber-500 hover:text-white"
          >
            <span class="material-symbols-outlined"> save </span>
            <h1 class="ml-1">Registrar</h1>
          </button>
        }

        @if ((participando || isAdmin) && !finalizado) {
          <button
            (click)="openAddView()"
            type="button"
            class="inline-flex h-8 items-center rounded-lg border border-green-400 px-1 text-center text-sm font-medium text-green-400 hover:bg-green-500 hover:text-white"
          >
            <span
              class="material-symbols-outlined text-green-400 transition-all hover:cursor-pointer hover:text-blue-400"
            >
              person_add
            </span>
            <h1 class="ml-1">Colaboradores</h1>
          </button>
        }
      </div>
    </div>
    <div class="h-8"></div>
  </div>
</div>
