<div class="flex flex-col h-screen w-screen items-center bg-transparent p-8">
	<div>
		<div class="w-[800px] bg-slate-900  rounded-lg p-4">
			<div class="flex items-center h-8 w-full text-white">
				<span class="material-symbols-outlined mr-2 text-3xl">
				home_repair_service
				</span>

				<h1 class="text-xl w-128">{{data.title}}</h1>

				<div  mat-dialog-close class="text-white flex flex-grow justify-end">
					<span class="material-symbols-outlined text-3xl h-10 hover:cursor-pointer hover:bg-slate-600 rounded-full transition all p-1">
						close
					</span>
				</div>
			</div>
			<!-- <img [src]="'http://localhost:8090/images/test.png' | useHttpImgSrc | async" alt="imagem caption"> -->
			<div class="flex mt-4 text-white">
				<div class="flex flex-col ml-8">
					<div class="flex items-center">
						<h1 class="text-sm font-bold mb-1">Técnicos</h1> 
						<span (click)="openAddView()" class="ml-4 material-symbols-outlined hover:cursor-pointer hover:text-blue-400 transition-all">
							add_box
						</span>
					</div>
					@for (tecnico of data.expand.users; track tecnico) {
						<div class="flex items-center h-6">
							<span class="material-symbols-outlined mr-2 text-xl">
								account_circle
							</span>
							
							<h1 class="">{{tecnico.username}}</h1>
						</div>
					}

				</div>

				<div class="flex flex-col ml-8">
					<h1 class="text-sm font-bold">Tempo Decorrido</h1>
					<div class="flex items-center h-8">
						<span class="material-symbols-outlined mr-2 text-xl">
							timer
						</span>

						<h1 class="">{{time}}</h1>
					</div>
				</div>
			</div>

			<div class="flex flex-col ml-8 mt-4 text-white">
					<h1 class="text-sm font-bold">Empresa</h1>
					<div class="flex items-center h-8">
						<span class="material-symbols-outlined mr-2 text-xl">
							corporate_fare
						</span>

						<h1 class="">{{data.cliente}}</h1>
					</div>
				</div>

			@if (data.description != ""){
				<div class="flex items-center h-8 mt-6 text-white">
					<span class="material-symbols-outlined mr-2 text-3xl">
					subject
					</span>

					<h1 class="text-xl">Descrição</h1>
				</div>

				<div class="flex mt-4 text-white">
					<div class="text-gray-100 w-[500px] ml-10">
						{{data.description}}
					</div>
				</div>
			}
			

			<div class="flex items-center h-8 mt-6 text-white">
				<span class="material-symbols-outlined mr-2 text-3xl">
				wysiwyg
				</span>

				<h1 class="text-xl">Relátorios</h1>
			</div>
<!-- 
			<div class="p-0">
				<editor
				  class="mt-4"
				  #editor 
				  [init]="{ 
					  plugins: 'lists link image table code help wordcount',
					  base_url: '/tinymce',
					  suffix: '.min',
					  selector: 'textarea',

					  toolbar: [
					    { name: 'history', items: [ 'undo', 'redo' ] },
					    { name: 'styles', items: [ 'styles' ] },
					    { name: 'formatting', items: [ 'bold', 'italic' ] },
					    { name: 'alignment', items: [ 'alignleft', 'aligncenter', 'alignright', 'alignjustify' ] },
					    { name: 'indentation', items: [ 'outdent', 'indent' ] },
					    { name: 'dev', items: [ 'code', 'help' ] }
					  ]}
				  "
				></editor> -->

				<div class="p-0 flex-col">
				@if (mostrarEditor) {					
					<editor
					  class="mt-4"
					  #editor 
					  [init]="{ 
						  plugins: '  autolink wordcount lists link image searchreplace fullscreen media table code  directionality codesample',
						  base_url: '/tinymce',
						  suffix: '.min',
						  selector: 'textarea',

						  codesample_languages: [
				                { text: 'HTML/XML', value: 'markup' },
				                { text: 'CSS', value: 'css' },
				                { text: 'SQL', value: 'sql' },
				                { text: 'Bash', value: 'sh' },
				                { text: 'JavaScript', value: 'javascript' },
				                { text: 'Go', value: 'go' },
				                { text: 'Dart', value: 'dart' },
				                { text: 'Zig', value: 'zig' },
				                { text: 'Rust', value: 'rust' },
				                { text: 'Lua', value: 'lua' },
				                { text: 'PHP', value: 'php' },
				                { text: 'Ruby', value: 'ruby' },
				                { text: 'Python', value: 'python' },
				                { text: 'Java', value: 'java' },
				                { text: 'C', value: 'c' },
				                { text: 'C#', value: 'csharp' },
				                { text: 'C++', value: 'cpp' },
				                { text: 'Markdown', value: 'markdown' },
				                { text: 'Swift', value: 'swift' },
				                { text: 'Kotlin', value: 'kotlin' },
				                { text: 'Elixir', value: 'elixir' },
				                { text: 'Scala', value: 'scala' },
				                { text: 'Julia', value: 'julia' },
				                { text: 'Haskell', value: 'haskell' },
				          ],
						  toolbar: 'styles | alignleft aligncenter alignright | bold italic forecolor backcolor | bullist numlist | link table codesample direction | code fullscreen'}
					  "
					></editor>

					<div class="w-full flex justify-center">
						<button (click)="sendRelatorio()" type="button" class="mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
							<span class="material-symbols-outlined">
							send
							</span>
							Enviar relatório
						</button>
					</div>

					<!-- <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700"> -->
				}
				@else {
					<div class="w-full flex justify-center">
						<button (click)="setEditor(true)" type="button" class="mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
							<span class="material-symbols-outlined">
							Edit
							</span>
							Escrever relatório
						</button>
					</div>
				}



				@for (item of relatorios; track item) {
					<app-service-relatorio
						avatar_url="url"
						name="Jeferson"
					    [date]= item.date
					    [html]= item.relatorio/>
					<!-- <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700"> -->

			    }

				<!-- <app-service-relatorio
					avatar_url="url"
					name="Jeferson"
				    timestamp="1:39:02 PM"
				    message="Quisque ullamcorper condimentum dui elementum finibus."

				/>

				<app-service-relatorio
					avatar_url="url"
					name="Jeferson"
				    timestamp="1:35:12 PM"
				    message="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor enim a dictum mattis. Nulla facilisi. Quisque ullamcorper condimentum dui elementum finibus."
				/>

				<app-service-relatorio
					avatar_url="url"
					name="Jeferson"
				    timestamp="1:27:32 PM"
				    message="Quisque ullamcorper condimentum dui elementum finibus."
				    image_url="image_url"
				/> -->
				
			</div>
		</div>
		<div class="h-8"></div>
	</div>
</div>