<div class="flex h-[200px] w-[400px] flex-col rounded-md bg-slate-800 p-4">
  <h1 class="text-2xl font-bold text-white">Deseja terminar o chamado?</h1>
  <h1 class="text-md px-2 text-center text-gray-200">
    O chamado será finalizado e os técnicos não poderão adicionar novos horários
    trabalhados
  </h1>

  <div class="mt-2 flex w-full gap-2">
    <button
      type="submit"
      class="text-md mt-4 w-full rounded-lg bg-red-600 px-3 py-1 font-bold text-white hover:bg-red-500"
      [mat-dialog-close]="true"
    >
      Confirmar
    </button>

    <button
      type="submit"
      class="text-md mt-4 w-full rounded-lg bg-blue-700 px-3 py-1 font-bold text-white hover:bg-blue-600"
      [mat-dialog-close]="false"
    >
      Cancelar
    </button>
  </div>
</div>
