<div class="hidden sm:flex">
  <div class="z-50 flex h-full w-16 flex-col justify-between bg-slate-900">
    <div>
      <div
        (click)="OpenSettings()"
        class="group inline-flex h-16 w-16 cursor-pointer items-center justify-center hover:opacity-65"
      >
        @if (user) {
          @if (user["avatar"] != "") {
            <img
              class="h-10 w-10 rounded-lg"
              [src]="
                apiUrl + '/api/files/users/' + user['id'] + '/' + user['avatar']
              "
            />
          } @else {
            <span
              class="grid h-10 w-10 place-content-center rounded-lg bg-gray-100 text-sm text-gray-600"
            >
              {{
                user["username"].charAt(0).toUpperCase() +
                  user["username"].slice(1, 3)
              }}
            </span>
          }
        }
        <span
          class="material-symbols-outlined invisible absolute text-white group-hover:visible"
        >
          settings
        </span>
      </div>

      <div class="border-t border-gray-100">
        <div class="px-2">
          <ul class="select-none space-y-1 border-gray-100 pt-4">
            <li>
              <a
                (click)="navigate('')"
                class="group relative flex cursor-pointer justify-center rounded px-2 py-1.5 text-gray-500 transition-all hover:bg-slate-700 hover:text-gray-400"
              >
                <span class="material-symbols-outlined text-[1.8rem]"
                  >home</span
                >
                <span
                  class="invisible absolute start-full top-1/2 z-10 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                  >Home</span
                >
              </a>
            </li>
            <li>
              <a
                (click)="navigate('/chamados/aberto')"
                class="group relative flex cursor-pointer justify-center rounded px-2 py-1.5 text-gray-500 transition-all hover:bg-slate-700 hover:text-gray-400"
              >
                <span class="material-symbols-outlined text-[1.8rem]"
                  >desktop_windows</span
                >
                <span
                  class="invisible absolute start-full top-1/2 z-10 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                  >Chamados</span
                >
              </a>
            </li>
            <li>
              <a
                (click)="navigate('/tecnicos')"
                class="group relative flex justify-center rounded py-1.5 text-gray-500 transition-all hover:cursor-pointer hover:bg-slate-700 hover:text-gray-400"
              >
                <span class="material-symbols-outlined text-[1.8rem]"
                  >view_kanban</span
                >
                <span
                  class="invisible absolute start-full top-1/2 z-10 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                  >Painel de chamados
                </span>
              </a>
            </li>
            <li>
              <a
                (click)="navigate('/anotacoes')"
                class="group relative flex justify-center rounded py-1.5 text-gray-500 transition-all hover:cursor-pointer hover:bg-slate-700 hover:text-gray-400"
              >
                <span class="material-symbols-outlined text-[1.8rem]"
                  >note_stack</span
                >
                <span
                  class="invisible absolute start-full top-1/2 z-10 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                  >Painel de anotações
                </span>
              </a>
            </li>
            <li>
              <a
                (click)="navigate('/registros')"
                class="group relative flex justify-center rounded px-2 py-1.5 text-gray-500 transition-all hover:bg-slate-700 hover:text-gray-400"
              >
                <span class="material-symbols-outlined text-[1.8rem]"
                  >description</span
                >
                <span
                  class="invisible absolute start-full top-1/2 z-10 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                  >Registros</span
                >
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="sticky inset-x-0 bottom-0 bg-slate-900 p-2">
      <button
        (click)="logout()"
        class="hover:text-red-400-700 group relative flex w-full justify-center rounded-lg px-2 py-1.5 text-sm text-red-600 hover:bg-slate-700"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 opacity-75"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
          />
        </svg>
        <span
          class="invisible absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
          >Logout</span
        >
      </button>
    </div>
  </div>
</div>
<!-- 
<div class="flex flex-col sm:hidden">
    <div class="z-50 h-16 w-screen flex  bg-slate-900 ">
      <div (click)="OpenSettings()" class="group flex h-16 w-16 items-center justify-center hover:opacity-65 cursor-pointer">
        @if (user) {
           @if (user["avatar"] != ""){
            <img
              class="h-10 w-10 rounded-lg"
              [src]="apiUrl + '/api/files/users/' + user['id'] + '/'  + user['avatar']"
            />

            } @else {
              <span
                class="grid h-10 w-10 place-content-center rounded-lg bg-gray-100 text-sm text-gray-600"
              >
                {{
                  user["username"].charAt(0).toUpperCase() +
                    user["username"].slice(1, 3)
                }}
              </span>
            }
          }
          <span class="material-symbols-outlined absolute text-white invisible group-hover:visible">
          settings
          </span>        
      </div>

      <div class="">
        <div class="select-none space-x-1 flex  gap-1 pt-4">
          <div>
            <a
              (click)="navigate('')"
              class="group relative flex cursor-pointer justify-center rounded w-[40px]  px-2 py-1.5 text-gray-500 transition-all hover:bg-slate-700 hover:text-gray-400"
            >
              <span class="material-symbols-outlined">home</span>
              <span
                class="invisible absolute start-full top-1/2 z-10 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                >Home</span
              >
            </a>
          </div>
          <div>
            <a
              (click)="navigate('/chamados/aberto')"
              class="group relative flex cursor-pointer justify-center rounded w-[40px] px-2 py-1.5 text-gray-500 transition-all hover:bg-slate-700 hover:text-gray-400"
            >
              <span class="material-symbols-outlined">desktop_windows</span>
              <span
                class="invisible absolute start-full top-1/2 z-10 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                >Chamados</span
              >
            </a>
          </div>
          <div>
            <a
              (click)="navigate('/tecnicos')"
              class="group relative flex hover:cursor-pointer justify-center w-[40px] rounded py-1.5 text-gray-500 transition-all hover:bg-slate-700 hover:text-gray-400"
            >
              <span class="material-symbols-outlined">group</span>
              <span
                class="invisible absolute start-full top-1/2 z-10 ms-4 w-[40px] -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                >Técnicos
              </span>
            </a>
          </div>
          <div>
            <a
              (click)="navigate('/registros')"
              class="group relative flex justify-center rounded px-2 py-1.5 w-[40px] text-gray-500 transition-all hover:bg-slate-700 hover:text-gray-400"
            >
              <span class="material-symbols-outlined">description</span>
              <span
                class="invisible absolute start-full top-1/2 z-10 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
                >Registros</span
              >
            </a>
          </div>
          
        </div>
      </div>
    </div>
</div> -->

<div class="flex w-full max-w-full flex-col sm:max-w-[calc(100vw-4rem)]">
  <div class="z-50 flex h-16 w-screen bg-slate-900 sm:hidden">
    <div
      (click)="OpenSettings()"
      class="group flex h-16 w-16 cursor-pointer items-center justify-center hover:opacity-65"
    >
      @if (user) {
        @if (user["avatar"] != "") {
          <img
            class="h-10 w-10 rounded-lg"
            [src]="
              apiUrl + '/api/files/users/' + user['id'] + '/' + user['avatar']
            "
          />
        } @else {
          <span
            class="grid h-10 w-10 place-content-center rounded-lg bg-gray-100 text-sm text-gray-600"
          >
            {{
              user["username"].charAt(0).toUpperCase() +
                user["username"].slice(1, 3)
            }}
          </span>
        }
      }
      <span
        class="material-symbols-outlined invisible absolute text-white group-hover:visible"
      >
        settings
      </span>
    </div>

    <div class="">
      <div class="flex select-none gap-1 space-x-1 pt-4">
        <div>
          <a
            (click)="navigate('')"
            class="group relative flex w-[40px] cursor-pointer justify-center rounded px-2 py-1.5 text-gray-500 transition-all hover:bg-slate-700 hover:text-gray-400"
          >
            <span class="material-symbols-outlined">home</span>
            <span
              class="invisible absolute start-full top-1/2 z-10 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
              >Home</span
            >
          </a>
        </div>
        <div>
          <a
            (click)="navigate('/chamados/aberto')"
            class="group relative flex w-[40px] cursor-pointer justify-center rounded px-2 py-1.5 text-gray-500 transition-all hover:bg-slate-700 hover:text-gray-400"
          >
            <span class="material-symbols-outlined">desktop_windows</span>
            <span
              class="invisible absolute start-full top-1/2 z-10 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
              >Chamados</span
            >
          </a>
        </div>
        <div>
          <a
            (click)="navigate('/tecnicos')"
            class="group relative flex w-[40px] justify-center rounded py-1.5 text-gray-500 transition-all hover:cursor-pointer hover:bg-slate-700 hover:text-gray-400"
          >
            <span class="material-symbols-outlined">group</span>
            <span
              class="invisible absolute start-full top-1/2 z-10 ms-4 w-[40px] -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
              >Técnicos
            </span>
          </a>
        </div>
        <div>
          <a
            (click)="navigate('/registros')"
            class="group relative flex w-[40px] justify-center rounded px-2 py-1.5 text-gray-500 transition-all hover:bg-slate-700 hover:text-gray-400"
          >
            <span class="material-symbols-outlined">description</span>
            <span
              class="invisible absolute start-full top-1/2 z-10 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white group-hover:visible"
              >Registros</span
            >
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden min-h-12 justify-end bg-slate-900 pr-4 text-white sm:flex">
    <div
      class="ml-2 mr-auto flex h-full cursor-default select-none items-center justify-center font-bold"
      matTooltip="
A versão 0800 está em fase de teste, portanto, é natural que alguns bugs ocorram e serão corrigidos."
    >
      0800 Preview version
    </div>
    <div
      class="flex h-full cursor-default items-center justify-center"
      matTooltip="São os chamados que estão em espera, esperando para serem atríbuidos a um técnico"
    >
      <span class="me-3 flex h-3 w-3 rounded-full bg-yellow-300"></span>
      <div class="mr-2 font-bold">{{ chamados_em_espera }}</div>
      Em Espera
    </div>
    <!--     <div
      class="flex h-full cursor-default items-center justify-center pl-4"
      matTooltip="São os chamados que estão atribuido a um técnico, mas ainda não foram iniciados"
    >
      <span class="me-2 flex h-3 w-3 rounded-full bg-blue-400"></span>
      <div class="mr-2 font-bold">{{ chamados_aguardando }}</div>
      Aguardando
    </div>
    <div
      class="flex h-full cursor-default items-center justify-center pl-4"
      matTooltip="São os chamados que estão em execução contando as horas trabalhadas do técnico"
    >
      <span class="me-3 flex h-3 w-3 rounded-full bg-green-500"></span>
      <div class="mr-2 font-bold">{{ chamados_em_andamento }}</div>
      Em Andamento
    </div> -->
  </div>
  <div class="flex h-full w-full">
    <ng-content></ng-content>
  </div>
</div>
