<!-- Filtros de servers -->
<div class="mt-2 flex items-center">
  <button
    #button

    (click)="toggleOption(button, serverDropdown, $event)"
    id="filterDropdownButton"
    class="hover:text-primary-700 mr-2 flex h-7 w-full items-center justify-center rounded-lg border border-gray-200 bg-white px-4 py-2 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 md:w-auto"
    type="button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      class="mr-2 h-4 w-4 text-gray-400"
      viewbox="0 0 20 20"
      fill="currentColor">
      <path
        fill-rule="evenodd"
        d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z"
        clip-rule="evenodd" />
    </svg>
    Servers
    <svg
      class="-mr-1 ml-1.5 h-5 w-5"
      fill="currentColor"
      viewbox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true">
      <path
        clip-rule="evenodd"
        fill-rule="evenodd"
        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
    </svg>
  </button>
  <div
    #serverDropdown
    id="serverDropdown"
    class="z-10 hidden w-32 cursor-default rounded-lg bg-white p-3 shadow dark:bg-gray-700">
    <ul class="space-y-2 text-sm" aria-labelledby="filterDropdownButton">
      <li class="flex items-center">
        <input
          checked
          #server_a
          (change)="toggleServer($event, server_a)"
          id="server_a"
          type="checkbox"
          value=""
          class="text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 h-4 w-4 rounded border-gray-300 bg-gray-100 focus:ring-2 dark:border-gray-500 dark:bg-gray-600 dark:ring-offset-gray-700" />
        <span
          class="me-2 ml-2 rounded bg-blue-100 px-2.5 py-0.5 text-xs font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300"
          >Server 1</span
        >
      </li>
      <li class="flex items-center">
        <input
          checked
          #server_b
          (change)="toggleServer($event, server_b)"
          id="server_b"
          type="checkbox"
          value=""
          class="text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 h-4 w-4 rounded border-gray-300 bg-gray-100 focus:ring-2 dark:border-gray-500 dark:bg-gray-600 dark:ring-offset-gray-700" />
        <span
          class="me-2 ml-2 rounded bg-purple-100 px-2.5 py-0.5 text-xs font-medium text-purple-800 dark:bg-purple-900 dark:text-purple-300"
          >Server 2</span
        >
      </li>
      <li class="flex items-center">
        <input
          checked
          #server_c
          (change)="toggleServer($event, server_c)"
          id="server_c"
          type="checkbox"
          value=""
          class="text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 h-4 w-4 rounded border-gray-300 bg-gray-100 focus:ring-2 dark:border-gray-500 dark:bg-gray-600 dark:ring-offset-gray-700" />
        <span
          class="me-2 ml-2 rounded bg-pink-100 px-2.5 py-0.5 text-xs font-medium text-pink-800 dark:bg-pink-900 dark:text-pink-300"
          >Cwp 1</span
        >
      </li>
      <li class="flex items-center">
        <input
          checked
          #server_d
          (change)="toggleServer($event, server_d)"
          id="server_d"
          type="checkbox"
          value=""
          class="text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 h-4 w-4 rounded border-gray-300 bg-gray-100 focus:ring-2 dark:border-gray-500 dark:bg-gray-600 dark:ring-offset-gray-700" />
        <span
          class="me-2 ml-2 rounded bg-teal-100 px-2.5 py-0.5 text-xs font-medium text-teal-800 dark:bg-teal-800 dark:text-teal-300"
          >Cwp 2</span
        >
      </li>
    </ul>
  </div>
  <!-- Tags do srvers -->
  <span
    id="server_a_tag"
    class="me-2 inline-flex items-center rounded bg-blue-100 px-2 py-1 text-sm font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300">
    Server 1
    <button
      type="button"
      class="ms-2 inline-flex items-center rounded-sm bg-transparent p-1 text-sm text-blue-400 hover:bg-blue-200 hover:text-blue-900 dark:hover:bg-blue-800 dark:hover:text-blue-300"
      aria-label="Remove"
      (click)="removeBadge('server_a_tag')">
      <svg
        class="h-2 w-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
      </svg>
      <span class="sr-only">Remove badge</span>
    </button>
  </span>

  <span
    id="server_b_tag"
    class="me-2 inline-flex items-center rounded bg-purple-100 px-2 py-1 text-sm font-medium text-purple-800 dark:bg-purple-900 dark:text-purple-300">
    Server 2
    <button
      type="button"
      (click)="removeBadge('server_b_tag')"
      class="ms-2 inline-flex items-center rounded-sm bg-transparent p-1 text-sm text-purple-400 hover:bg-purple-200 hover:text-purple-900 dark:hover:bg-purple-800 dark:hover:text-purple-300"
      aria-label="Remove">
      <svg
        class="h-2 w-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
      </svg>
      <span class="sr-only">Remove badge</span>
    </button>
  </span>

  <span
    id="server_c_tag"
    class="me-2 inline-flex items-center rounded bg-pink-100 px-2 py-1 text-sm font-medium text-pink-800 dark:bg-pink-900 dark:text-pink-300">
    Cwp 1
    <button
      type="button"
      class="ms-2 inline-flex items-center rounded-sm bg-transparent p-1 text-sm text-pink-400 hover:bg-pink-200 hover:text-pink-900 dark:hover:bg-pink-800 dark:hover:text-pink-300"
      (click)="removeBadge('server_c_tag')"
      aria-label="Remove">
      <svg
        class="h-2 w-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
      </svg>
      <span class="sr-only">Remove badge</span>
    </button>
  </span>

  <span
  id="server_d_tag"
  class="me-2 inline-flex items-center rounded bg-teal-100 px-2 py-1 text-sm font-medium text-teal-800 dark:bg-teal-800 dark:text-teal-300">
  Cwp 2
  <button
    type="button"
    class="ms-2 inline-flex items-center rounded-sm bg-transparent p-1 text-sm text-teal-400 hover:bg-teal-200 hover:text-teal-900 dark:hover:bg-teal-800 dark:hover:text-teal-300"
    (click)="removeBadge('server_d_tag')"
    aria-label="Remove">
    <svg
      class="h-2 w-2"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 14">
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    </svg>
    <span class="sr-only">Remove badge</span>
  </button>
  </span>


</div>
