<div class="mt-4">
	<div class="inline-flex items-center justify-center w-full">
	    <hr class="w-80 h-1 my-8 bg-gray-200 border-0 rounded dark:bg-gray-700">
	    <div class="absolute px-4 -translate-x-1/2 bg-slate-900 left-1/2 ">
    		<div class="flex items-center text-gray-200">
				@if (user['avatar'] != ""){
		            <img
		              class="h-8 w-8 rounded-full"
		              [src]="apiUrl + '/api/files/users/' + user.id + '/'  + user['avatar']"
		            />
		        } @else {
		            <img
		              class="h-8 w-8 rounded-full"
		              src="https://as2.ftcdn.net/v2/jpg/05/49/98/39/1000_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg"
		            />
		        }	
				<h1 class="ml-2 text-md">{{user['username']}}</h1>
				<div class="text-xs ml-2 text-gray-500">{{timeStamp}}</div>
			</div>
	    </div>
	</div>


	<div class="bg-slate-200 rounded-md w-full flex mt-3 max-h-[600px] overflow-auto">
		<article class="prose max-w-full p-8 flex">
			<div class="w-full" [innerHTML]="html | sanitizeHtml"></div>
		</article>
	</div>	
</div>